* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  line-height: 1.4;
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.7)), url(../images/create.jpg) no-repeat center center/cover ;
  height: 100vh;
}

h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1.5rem;
}

header { 
  padding: 1rem;
  text-align: center;  
}

.slick-section {
  margin: auto;
  width: 80%;
}



.slide-heading,
.slide-text {
  width: 90%;
  margin: 1rem;
  padding: 0.6rem;
}


.slide-text {
  resize: none;
}

footer{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 1.2rem; 
  background: #1f1f1f;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

footer p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

footer i{
  padding: 0rem 1.6rem;
  margin-bottom: 0.8rem;
}

@media only screen and (max-width: 650px){
  :root{
    font-size: 12px;
  }
}